<div class="card_add_basket">
    <div class="row">
        {% for product in products %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img class="card-img-top"
                             src="{{ product.image.url }}"
                             alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'mainapp:detail' product.id %}">{{ product.name }}</a>
                        </h4>
                        <h5>{{ product.price }} руб.</h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-outline-success" value="{{ product.id  }}">
                            Отправить в корзину
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>